<ion-header>
    <ion-navbar color='danger'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>                             
           <ion-icon class='nav-icon' [name]='icon'></ion-icon>
           {{subcategory}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class='content_page'>


    <ion-list>
        <ion-row>
            <ion-list-header>Top Headlines</ion-list-header>            
            <ion-slides>
                <ion-slide *ngFor='let item of articles'>
                    <div class="slide-content">                    
                        <img src="{{item.urlToImage}}"/>   
                        <div class="desc">
                            <h1>{{item.title}}</h1>  
                            <ion-badge (click)='selectSourceBadge(item.source)'>{{item.source}}</ion-badge>
                            <a href="{{item.url}}">read more...</a> 
                        </div>

                    </div>
                </ion-slide>
            </ion-slides>
        </ion-row>   
        <ion-list-header>sources</ion-list-header>   
        <button ion-item *ngFor='let source of sources' (click)='selectSource(source)'>
            {{source.name}}
        </button>
    </ion-list>
</ion-content>
